<form th:action="@{~/master/company/save}" th:object="${company}" method="POST">
    <input type="hidden" th:field=*{id}>
    <table class="table">
        <tr>
            <td>*Company Code</td>
            <td><input type="text" class="form-control" th:field="*{code}" readonly></td>
            <td>*Company Name</td>
            <td><input type="text" class="form-control" th:field="*{name}" placeholder="Type Company Name" required></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" class="form-control" placeholder="Type Email" th:field="*{email}" required></td>
            <td rowspan="2">Address</td>
            <td><textarea placeholder="Type Address" class="form-control" th:field="*{address}" required></textarea></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="tel" class="form-control" maxlength="13" placeholder="Type Phone" th:field="*{phone}" required></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary">Save</button>
    <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
</form>