<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Master Company - Marcom WebApp</title>
</head>
<body>
<div layout:fragment="content" class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="#">Home</a></li>
		  <li class="breadcrumb-item"><a href="#">Master</a></li>
		  <li class="breadcrumb-item active">List Company</li>
		</ol>
	</nav>
	<div class="interactions row">
		<div class="col-3">
			<input type="text" id="search-code" class="form-control" placeholder="- Select Company Code -">
		</div>
		<div class="col-3">
			<input type="text" id="search-name" class="form-control" placeholder="- Select Company Name -">
		</div>
		<div class="col-2 date">
			<input type="text" id="search-date" class="form-control" placeholder="Created date" onclick="this.type='date'">
		</div>
		<div class="col-2">
			<input type="text" id="search-creator" class="form-control" placeholder="Created By">
		</div>
		<div class="col-2">
			<button class="btn btn-primary" onclick="addCompany()">Add</button>
			<button class="btn btn-warning" onclick="findCompany()">Search</button>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>No</th>
				<th>Company Code</th>
				<th>Company Name</th>
				<th>Created Date</th>
				<th>Created By</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item: ${company}">
				<td th:text="${item.id}"></td>
				<td th:text="${item.code}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.createdDate}"></td>
				<td th:text="${item.createdBy}"></td>
				<td>
					<a href="#" th:data-id='${item.id}' th:data-name='${item.name}' onclick="companyDetails(this)"><i class="fas fa-search"></i></a>
					<a href="#" th:data-id='${item.id}' th:data-name='${item.name}' onclick="companyEdit(this)"><i class="fas fa-pencil-alt"></i></a>
					<a href="#" th:data-id='${item.id}' th:data-name='${item.name}' onclick="companyDelete(this)"><i class="fas fa-trash"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
	
	
<script type="text/javascript" src="/js/company_script.js"></script>
<script>
	
function openEdu(id) {
	$("#profilid").val(id);
	$.ajax({
		url:'/education/byprofil/'+id,
		type:'get',
		contentType:'html',
		success:function(result) {
			$(".modal-title").html("Education detail");
			$(".modal-body").html(result);
			$("#mymodal").modal("show");
		}
	})
}
function openExp(id) {
	$("#profilid").val(id);
	$.ajax({
		url:'/experience/byprofil/'+id,
		type:'get',
		contentType:'html',
		success:function(result) {
			$(".modal-title").html("Experience detail");
			$(".modal-body").html(result);
			$("#mymodal").modal("show");
		}
	})
}
function tambahData() {
	$.ajax({
		url:'/profil/add',
		type:'get',
		contentType:'html',
		success:function(result) {
			$(".modal-title").html("Form add profil");
			$(".modal-body").html(result);
			$("#mymodal").modal("show");
		}
	})
}

function edit(id) {
	$.ajax({
		url:'/profil/edit/'+id,
		type:'get',
		contentType:'html',
		success:function(result) {
			$(".modal-title").html("Form edit profil");
			$(".modal-body").html(result);
			$("#mymodal").modal("show");
		}
	})
}

function delete_(id) {
	var confirm = window.confirm("Yakin mau menghapus data ini?!");
	if(confirm) {
		$.ajax({
			url: "/profil/delete/"+id,
			type: "post",
			success:function() {
				location.reload(1);
			},
			error:function(e) {
				alert(e.responseText);
			}
		})
	}
}
</script>


</div>
</body>
</html>